@font-face {
    font-family: 'Everett';
    src: url('/fonts/Everett-Thin-web.eot');
    src: url('/fonts/Everett-Thin-web.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/Everett-Thin-web.woff2') format('woff2'), 
       url('/fonts/Everett-Thin-web.woff') format('woff'), 
       url('/fonts/Everett-Thin-web.ttf')  format('truetype'), 
       url('/fonts/Everett-Thin-web.svg#svgFontName') format('svg'); 
    font-weight: 200;
}

@font-face {
    font-family: 'Everett';
    src: url('/fonts/Everett-Light-web.eot');
    src: url('/fonts/Everett-Light-web.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/Everett-Light-web.woff2') format('woff2'), 
       url('/fonts/Everett-Light-web.woff') format('woff'), 
       url('/fonts/Everett-Light-web.ttf')  format('truetype'), 
       url('/fonts/Everett-Light-web.svg#svgFontName') format('svg'); 
    font-weight: 300;
}

@font-face {
    font-family: 'Everett';
    src: url('/fonts/Everett-Regular-web.eot');
    src: url('/fonts/Everett-Regular-web.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/Everett-Regular-web.woff2') format('woff2'), 
       url('/fonts/Everett-Regular-web.woff') format('woff'), 
       url('/fonts/Everett-Regular-web.ttf')  format('truetype'), 
       url('/fonts/Everett-Regular-web.svg#svgFontName') format('svg'); 
    font-weight: 400;
}

@font-face {
    font-family: 'Everett';
    src: url('/fonts/Everett-Medium-web.eot');
    src: url('/fonts/Everett-Medium-web.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/Everett-Medium-web.woff2') format('woff2'), 
       url('/fonts/Everett-Medium-web.woff') format('woff'), 
       url('/fonts/Everett-Medium-web.ttf')  format('truetype'), 
       url('/fonts/Everett-Medium-web.svg#svgFontName') format('svg'); 
    font-weight: 500;
}

@font-face {
    font-family: 'Everett';
    src: url('/fonts/Everett-Bold-web.eot');
    src: url('/fonts/Everett-Bold-web.eot?#iefix') format('embedded-opentype'), 
       url('/fonts/Everett-Bold-web.woff2') format('woff2'), 
       url('/fonts/Everett-Bold-web.woff') format('woff'), 
       url('/fonts/Everett-Bold-web.ttf')  format('truetype'), 
       url('/fonts/Everett-Bold-web.svg#svgFontName') format('svg'); 
    font-weight: 600;
}