.awards {
  background-color: $bg_home;
  padding-top: 20px;
  font-weight: 300;
  min-height: 100vh;

  .page--large & {
    font-size: 27px;
  }

  .page--medium & {
    font-size: 25px;
  }

  .page--small & {
    font-size: 15px;
  }
}
