.entry {
    // float: left;

    @media (max-width: $breakpoint) {
        margin-bottom: 20px;
    }

    .page--large & {
        width: calc(33.333% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
        // min-height: 320px;
        // height: 0;
        // padding-bottom: 33%;
        
    }

    .page--medium & {
        width: calc(50% - 20px);
        margin-right: 20px;
        margin-bottom: 30px;
        // min-height: 320px;
        // height: 0;
        // padding-bottom: 45%;
    }
    
    .page--small & {
        width: 100%;
        margin-left: 0;
        margin-bottom: 80px;
        min-height: initial;
    }

    &--accordion {
        cursor: pointer;
        
        .entry__body {
            display: none;
        }
    }
        
    &:hover {
        .entry__title, .entry__location {
            border-bottom: 1px solid black;
        }
    }
    
    &__caption {
        margin-top: 5px;
        padding: 0 10px;
    }

    &__title, 
    &__location, 
    &__role {
        border-bottom: 1px solid rgba(0,0,0,0);    
        font-size: 25px;
        line-height: 1.1;
        display: inline;
        
        .page--large & {
            font-size: 25px;
        }
        
        .page--medium & {
            font-size: 21px;
        }
        
        .page--small & {
            font-size: 15px;
            @media (max-width: $breakpoint) {
                font-size: 21px;
            }
        }
    }
    
    
    
    
    
  
    
    &__image {
        background-color: white;
        width: 100%;
        height: 0;
        padding-bottom: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
        &--portrait {
            background-size: contain;
        }
        

    }
    
    
    
    &__body {
        margin-top: 1em;
        padding: 0 10px;
        
        a {
            word-break: break-all;
        }
        
        p {
            margin-bottom: 1em;
        }
    }
    
    &__contact {
        margin-bottom: 1em;
    }
        
    &__divider {
        display: none;
        
        .page--small & {
            display: block;
            font-size: 25px;
            
            &:last-of-type {
                margin-top: 30px;
            }
        }
    }
        
    &--people {
        // .page--small & {
        //     display: none;
        // }
            
        .page--small & {
            .entry__image,
            .entry__caption {
                display: none;
            }
        }
    

        .entry__image--secondary,
        .entry__caption--secondary {
            display: none;

            .page--small & {
                display: block;
            }
        }
        
        .entry__image--secondary {
            margin-bottom: 15px;
        }
        

        
        .page--small & {
            margin-bottom: 0;
            
            .entry__title,
            .entry__role {
                font-size: 15px;
                @media (max-width: $breakpoint) {
                    font-size: 17px;
                }
            }
            
            .entry__caption--secondary {
                margin-top: 5px;
                padding: 0 10px 0 15px;
            }
        
            .entry__body {
                margin-bottom: 30px;
            }
            
            .entry__text {
                margin-left: 25px;
            }
 
        }
    }
        
}