.title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    pointer-events: none;
    transition: opacity 1s;
    .intro & {
        opacity: 0;
    }
    h1 {
        text-align: center;
        font-weight: normal;
        position: absolute;
        top: 50%;
        width: 100%;
        line-height: 1;
        transform: translateY(-50%);
        font-size: 104px;
        @media ( max-width: $breakpoint ) {
            font-size: 47px;
        }


    }
    

    
    &--inline {
        h1 {
            font-size: 47px;
            font-weight: 300;
            margin: 10px 20px;
        }
    }
    
    
}

