.work {
    padding-top: 20px;
    overflow: auto;
    background-color: $bg-home;
    min-height: 100vh;
    padding-bottom: 20px;
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
    a {
        color: black;
        display: block;
    }
    
    // .page--large & {
    //     padding-right: 20px;
    // }
    
    // .page--medium & {
    //     padding-right: 20px;
    // }
    
    .page--small & {
        padding-right: 0px;
        
        @media (max-width: $breakpoint) {
            padding-right: 20px;
        }
        
    }
}