{% extends "_layout" %}

{% block back %}{% endblock %}
{% block title %}
{% endblock %}

{% set id_left = 'menu' %}
{% block left %}
    {% include 'includes/menu' %}
{% endblock %}


{% set id_right = 'people' %}
{% block right %}
    <div class="work">
        
        <h3 class="entry__divider">{{ 'Directors & Associates' | t }}</h3>

        {% set director_entries = craft.entries({ section: 'peopleEntries', area: 'directorsAssociates' }).all() %}
        {% set team_entries = craft.entries({ section: 'peopleEntries', area: 'studioTeam' }).all() %}

        {% for entry in director_entries %}
            
            {% set thumb = entry.portrait.one() %}
            {% if thumb|length %}
            {% set orient = thumb.width <= thumb.height ? 'portrait' : 'landscape' %}
            {% endif %}
         
            <a
                class="entry entry--people"
                href="{{ entry.url }}"
            >

        
                <div class="entry__image entry__image--{{ orient }}">
                {% if thumb|length %}
                        {% include 'includes/asset' with {
                            asset: thumb,
                            fit: orient == 'portrait' ? 'contain' : 'cover'
                        } %}   
                {% endif %}
                </div>
                
                <div class="entry__caption">
                    <span class="entry__title">{{ entry.title }}</span><br>
                    <span class="entry__role">{{ entry.role }}</span>
                </div>
                
                <div class="entry__caption--secondary">
                    <span class="entry__title">{{ entry.title }}</span>, 
                    <span class="entry__role">{{ entry.role }}</span>
                </div>
                
                
                

            </a>


        {% endfor %}
        
        
        <h3 class="entry__divider">Studio Team</h3>
        
        
        
        {% for entry in team_entries %}
        
            {% set thumb = entry.portrait.one() %}

            {% if thumb|length %}
            {% set orient = thumb.width <= thumb.height ? 'portrait' : 'landscape' %}
            {% endif %}

  
            <div class="entry entry--people entry--accordion">

        
                <div class="entry__image entry__image--{{ orient }}">
                {% if thumb|length %}
                        {% include 'includes/asset' with {
                            asset: thumb,
                            fit: orient == 'portrait' ? 'contain' : 'cover'
                        } %}   
                {% endif %}
                </div>
                
                <div class="entry__caption">
                    <span class="entry__title">{{ entry.title }}</span><br>
                    <span class="entry__role">{{ entry.role }}</span>
                </div>
                
                <div class=" entry__caption--secondary">
                    <span class="entry__title">{{ entry.title }}</span>, 
                    <span class="entry__role">{{ entry.role }}</span>
                </div>
                
                <div class="entry__body">
                    
                    <div class="entry__image entry__image--{{ orient }} entry__image--secondary">
                    {% if thumb|length %}
                        {% include 'includes/asset' with {
                            asset: thumb,
                            fit: orient == 'portrait' ? 'contain' : 'cover'
                        } %}   
                    {% endif %}
                    </div>
                    
                    <div class="entry__text">
                    
                        <div class="entry__contact">
                        <div><a href="mailto:{{ entry.email }}">{{ entry.email }}</a></div>
                        <div>{{ entry.qualification }}</div>
                        </div>
                        
        
                        {% if entry.twitter != '' %}
                        <div><a href="http://twitter.com/{{ entry.twitter }}" target="_blank"></div>@{{ entry.twitter }}</a>
                        {% endif %}
                        {% if entry.instagram != '' %}
                        <div><a href="http://instagram.com/{{ entry.instagram }}" target="_blank"></div>@{{ entry.twitter }}</a>
                        {% endif %}
                        {% if entry.linkedin != '' %}
                        <div><a href="{{ entry.linkedin }}" target="_blank"></div>LinkedIn</a>
                        {% endif %}
                        
                        <div class="">
                            {{ entry.copy }}
                        </div>
                        
                        <div class="">
                            <small>{{ entry.footnote }}</small>
                        </div>
                        
                        <div class="entry__work">
                            
                            {% if entry.work|length or entry.externalWork|length %}
                            Work<br>
                
                            {% for entry in entry.work.all() %}
                            
                                <a href="{{ entry.url }}">{{ entry.title }}, {{ entry.location }}</a>
                                
                            {% endfor %}
                            {% for entry in entry.externalWork.all() %}
                            
                                <span>{{ entry.workName }}, {{ entry.workLocation }}</span><br>
                                
                            {% endfor %}
                            
                            {% endif %}
                        </div>
                        
                    </div>
                </div>


            </div>



        {% endfor %}
        
        
        
        
        
        
        
        
        
        
        
    </div>





    
{% endblock %}


