<div class="feed">

    {% set relatedPosts = craft.entries.section('feed').relatedTo({
        targetElement: entry
    }).all() %}

    {% if relatedPosts|length %}
        {% for entry in relatedPosts %}
            {% include 'includes/feed--item.twig' %}
        {% endfor %}
    {% endif %}

</div>