{% set rows = entry.rows.all() %}
{% for row in rows %}

    {% if row.type == 'copy' %}
    
        <div class="row row__copy {% if loop.first %}row__copy--first{% endif %}">
            {{ row.copy }}
        </div>
        
    {% elseif row.type == 'largeCopy' %}
    
        <div class="row row__copy row__copy--large {% if loop.first %}row__copy--first{% endif %}">
            {{ row.copy }}
        </div>
        
    {% elseif row.type == 'image' %}
        
        {% set assets = row.file.all() %}
        {% for asset in assets %}
            <div class="row row__image">
                {% include 'includes/asset' with { fit: 'contain' } %}
            </div>
        {% endfor  %}

    {% elseif row.type == 'twoImage' %}
    
        <div class="row row__double">
            {% set assets = row.files.all() %}
            {% for asset in assets %}
                {% include 'includes/asset' with { class: 'row__double--image' } %}
            {% endfor  %}
        </div>
        
    {% elseif row.type == 'quote' %}
    
        <div class="row row__quote">
            {{ row.copy }}
            <span class="row__quote--attribution">
                {{ row.attribution }}
            </span>
        </div>
        
    {% endif %}

{% endfor %}
